.cpiContainer{
    position: absolute;
    background-color: #EAEAEA;
    width: 100%;
    display: flex;    
    height: 250px;
    bottom: -10%;
}
.cpiTitleContainer{
    margin-top: 2.2em;
}
.cpiMpContainer{
    margin-left: 35%;
    margin-top: 2.6em;
}
.cpiImg{
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: 5em;
    height: 120px;
}
.cpiTitle{
    font-weight: 700;
    color: #014F52;    
    font-size: 18px;
}
.cpiMp{
    font-weight: 900;
    font-size: 26px;
}
@media only screen and (max-width: 600px) {
    .cpiImg{
        margin-bottom: 4em;
        margin-left: 1em;
        width: 40%;
        height: 100px;
    }
    .cpiTitle{
        font-weight: 700;
        color: #014F52;    
        font-size: 11px;
    }
    .cpiMp{
        font-weight: 800;
        font-size: 16px;
    }
    .cpiMpContainer{
        margin-left: 5%;
        margin-top: 3.2em;
    }
    .cpiTitleContainer{
        margin-top: 3.1em;
    }
}