.container{
    position: relative;    
    left: 30%;
}
.contactTitle{
    margin-top: 5%;
}
.contactImg{
    position:relative;
    width: 10em;
    margin-left: -10%;
}
.contactNode{
    display: flex;
}
.contactP1{
    display: inline;
    position: relative;
    left: 5%;
    margin-top: 5%;
}
.contactP2{
    display: inline;
    position: relative;
    margin-top: 5%;
    left: 7%;
    font-weight: 700;
    color:#e5007f;  
}
.contactP3{
    position: relative;
    margin-top: 7%;
    left: -15%;
}