.RentSaleCardContainer{
    display: flex;
    width: 98%;
    border: 1px solid black;
    margin-top: 0.2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
    border-radius: 15px;
    height: 460px;
}
.tempRentCard, .saleCard, .rentCard{
    width: 33.3%;    
    border: 1px solid black;    
    color: white;    
    background-color: lightgrey;
    position: inherit;
}
.tempRentCard{
    z-index: 1;
    width: 500px;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}
.saleCard{
    z-index: 3;      
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-20deg);
    width: 450px;
    margin-left: -90px;
    margin-right: -90px;
}
.rentCard{    
    z-index: 2;    
    margin-left: 0px;
    width: 420px;
    border-radius: 0px 15px 15px 0px;
}
.leftTextCard, .rightTextCard, .centerTextCard{
    background-color: #e5007f;
}
.leftTextCard{
    text-align: left;
    padding-left: 8%;
    margin-right: 15%;    
}
.centerTextCard{    
    text-align: center;    
    margin-left: 25%;
    margin-right: 25%;    
}
.rightTextCard{
    text-align: right;
    padding-right: 8%;
    margin-left: 45%;
}
.sliderContainer{
    position: relative;
    height: 458px;
    top: -18.5%;    
}
.imagesContainer{
    width: 100%;
    height: 100%;   
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
}
.imageCss{
    width: 500px;
    height: 458px;
    position: relative;    
    z-index: -1;
}
.SaleimageCss{
    width: 618px;
    height: 458px;
    position: relative;    
    z-index: -1;
    top: -0%;
    margin-left: -82px;    
    transform: skew(20deg);
}
.slider2Container{
    position: relative;
    height: 458px;
    top: -18.5%;    
    
}
.images2Container{
    width: 100%;
    height: 100%;   
    overflow: hidden;
}
.slider3Container{
    position: relative;
    height: 458px;
    top: -18.5%;
}
.images3Container{
    width: 100%;
    height: 100%;   
    overflow: hidden;  
    border-radius: 0px 15px 15px 0px;
}
.RentImageCss{
    width: 500px;
    height: 458px;
    position: relative;    
    z-index: -1; 
}
@media only screen and (max-width: 600px) {
    .RentSaleCardContainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 98%;
        border: 1px solid black;  
        justify-content: space-around;      
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 15px;
        height: 30em;
    }
    .tempRentCard, .saleCard, .rentCard{           
        border: 1px solid black;    
        color: white;    
        background-color: lightgrey;
        height: 30em;
        width: 100%;
        border-radius: 15px 15px 15px 15px;    
        position: relative;   
        margin-top: 3em;
    }
    .saleCard{
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
    }
    .tempRentCard{
        z-index: 1;        
    }
    .saleCard{
        z-index: 3;            
    }
    .rentCard{    
        z-index: 2;           
    }
    .leftTextCard, .centerTextCard, .rightTextCard {
        text-align: center;      
    }
    .sliderContainer, .slider2Container, .slider3Container{
        position: relative;
        height: 30em;        
    }
    .imagesContainer, .images2Container, .images3Container{
        width: 100%;
        height: 30em;   
        overflow: hidden;
        border-radius: 15px 15px 15px 15px;
    }
    .imageCss, .SaleimageCss, .RentImageCss{
        width: 100%;
        height: 30em;       
        z-index: -1;
    }
    .SaleimageCss{
        transform: skew(0deg);
        width: 100%;
    }

    
}