.cardMvv{
    width: 20em;
    height: 36.5em;
    border-radius: 10px;
    color: #e5007f;        
}

.MvvTitle{
    align-items: center;
    display: flex;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}

.MvvIcon{
    width: 60%;    
    height: 180px;
    border-radius: 6px;
    position: relative;
    left: 20%;
    margin-top: 5%;
}
.Mvvp{
    color: black;
    text-align: justify;
}
